
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
 <link rel="stylesheet" th:href="@{/nav.css}">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<footer class="bg-light text-center text-lg-start mt-4 "style="width: 100%;">
    <div class="container p-4" style="width: 100%;" >
        <h5 class="text-uppercase">About Our Hotel</h5>
        <p>
            Welcome to our hotel, your perfect getaway! Located in the heart of the city, we offer a peaceful retreat with easy access to popular attractions, restaurants, and shopping. Experience comfort and luxury during your stay!
        </p>
        <h6>Contact Us</h6>
        <p>
            Phone: <a href="tel:+1234567890">+216 58-467-820</a>
        </p>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
        © 2024  RoyalePlace .
    </div>
</footer>